@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* BEGINNING OF SIDEBAR */
.sidebar{
    position: fixed;/* THE ELEMENT WILL REMAIN IN THE SAME PLACE, EVEN IF THE PAGE IS BEING SCROLLED */
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;/* THIS INDEX MAKES THAT THE ELEMENT WILL BE POSITIONET ABOVE ELEMENTS WITH A LOWER Z-INDEX*/
    transition: all 0.5s ease;
}
.sidebar.close{/* CHANGING SIDEBAR SIZE WHEN IT'S CLOSED */
    width: 78px;
}
.sidebar .logo-details{/* CHANGING LOGO DETAILS INSIDE THE SIDEBAR */
    height: 60px;
    width: 100%;
    display: flex;/* WILL ADAPT TO DIFFERENT SCREEN SIZES */
    align-items: center;
}
.sidebar .logo-details i{/* CHANGING LOGO DETAILS ICON */
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name{/* NAME OF THE LOGO CSS*/
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease; /* TRANSITION WILL TAKE 0.3s AND THE "ease" MAKES THAT STARTS SLOW AND THEN ACCELERATES */
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{/* TRANSITION EVENT FOR LOGO NAME*/
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;/* WILL DISABLE MOUSE TOUCH EVENTS, WILL NOT RESPOND TO MOUSE CLICKS, HOVERS OR TOUCH EVENTS */
}
.sidebar .nav-links{ /* SIDE BAR LINKS */
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto; /* LINKS WILL BE CLIPPED WHEN IT OVERFLOWS THE ONTENT BOX */
}
.sidebar.close .nav-links{ /* WHEN NAV BAR IS CLOSED THE CONTENT THAT OVERFLOWS WILL BE VISIBLE OUTSIDE THE BOUNDARIES OF CLOSED NAV BAR*/
    overflow: visible; 
}
.sidebar .nav-links::-webkit-scrollbar{/* SROLLBAR WEB KIT */
    display: none;
}
.sidebar .nav-links li{/* li TRANSITION AND POSITION */
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{ /* li HOVER STYLE */
    background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{ /* ICON LINK DIVISION (<a> FOR THE ICON) DISPLAY */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{ /* ICON LINK DIVISION (<a> FOR THE ICON) DISPLAY */
    display: block
}
.sidebar .nav-links li i{/* ICON LINKS */
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{/* ARROWS IN LINKS WILL ROTATE 180 DEG WHEN CLICKED */
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{ /* ARROWS IN LINKS WILL DISAPEAR WHEN THE NAVBAR IS CLOSED */
    display: none;
}
.sidebar .nav-links li a{ /* HIPERLINKS MODIFYING*/
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{/* ADDING LINK NAMES TRANSITION WHEN THEY POP UP WHEN SIDEBAR IS CLOSED */
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{/* LINK NAMES BEHAVIOR WHEN SIDEBAR IS CLOSED */
    opacity: 0;
    pointer-events: none;/* WILL DISABLE MOUSE TOUCH EVENTS, WILL NOT RESPOND TO MOUSE CLICKS, HOVERS OR TOUCH EVENTS */
}
.sidebar .nav-links li .sub-menu{/* SUB MENUS */
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{/* SUB MENUS */
    display: block;
}
.sidebar .nav-links li .sub-menu a{/* SUB MENUS HIPERLINKS*/
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{/* SUB MENU HOVER RULE FOR <a> TAGS */
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{/* SUB MENU BEHAVIOR WHEN SIDEBAR IS CLOSED */
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;/* WILL DISABLE MOUSE TOUCH EVENTS, WILL NOT RESPOND TO MOUSE CLICKS, HOVERS OR TOUCH EVENTS */
    transition: 0s;
}
  /* WILL MAKE THAT THE SUB MENU SHOWS UP AS A POP UP WHEN THE SIDEBAR IS CLOSED */
.sidebar.close .nav-links li:hover .sub-menu{/* SUB MENU HOVER RULE FOR <li> TAGS */
    top: 0;/* POSITIONS THE SUB MENU AT THE TOP OF THE LIST ITEM */
    opacity: 1;/* MAKES THE SUB MENU FULLY VISIBLE */
    pointer-events: auto; /* ALLOWS THE USER TO INTERACT WITH THE SUB MENU */
    transition: all 0.4s ease; /* TRANSITION EFFECT */
  }
.sidebar .nav-links li .sub-menu .link_name{/* NAME OF THE ICON WILL NOT SHOW WHEN NAVBAR IS OPEN*/
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{ /* NAME OF THE ICON WILL ONLY SHOW WHEN THE NAVBAR IS CLOSED */
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{/* BEHAVIOR OF LINKS THAT DOESN'T HAVE A SUB MENU IN IT */
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank{/* BEHAVIOR OF LINKS THAT DOESN'T HAVE A SUB MENU IN IT */
    top: 50%;
    transform: translateY(-50%);
}
/*
.one {
    width: 80%;
    margin-left: 10%;
    background-color: black;
    height: 400px;
  }*/
.sidebar .profile-details{ /* USER CREDENTIALS STYLE RULES */
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}  
.sidebar.close .profile-details{/* USER CREDENTIALS WHEN NAVBAR IS CLOSED STYLE RULES */
    background: none;
}
.sidebar.close .profile-details{/* USER CREDENTIALS WHEN NAVBAR IS CLOSED STYLE RULES */
    width: 78px;
}
.sidebar .profile-details .profile-content{/* USER IMAGE STYLE RULES */
    display: flex;
    align-items: center;
}

.sidebar .profile-details img{/* USER CREDENTIALS IMG STYLE RULES */
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{/* USER CREDENTIALS IMG STYLE RULES WHEN SIDEBAR IS CLOSED */
    padding: 10px;
}
.sidebar .profile-details .profile_name,/* USER CREDENTIALS STYLE RULES */
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,/* USER CREDENTIALS STYLE RULES WHEN NAVBAR IS CLOSED */
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{/* USER CREDENTIALS STYLE RULES */
    font-size: 12px;
}
.home-section{/* HAMBURGER ICON STYLE RULES */
    position: relative;
    background: #E4E9F7;
    height: 100%;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{/* HAMBURGER ICON WHEN THE SIDEBAR IS CLOSED */
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{/* ALIGNMENT FOR HAMBURGER ICON */
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu/* HAMBURGER ICON STYLE RULES */
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{ /* HAMBURGER ICON CHANGING POINTER STYLE */
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{ /* HAMBURGER ICON TEXT STYLE */
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
}
/*CSS del cuerpo */
.Titulo{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.imgprin{
    align-items: center;
    margin-left: 350px;
    width: 700px;
    height: 400px;
}
.Parrafos{
    font-size: 30px;
    color: chocolate;

}
.Titulo1{
    font-size: 20px;
    display: flex;
    
    color: blueviolet;
}
.noticias{
    display: flex;
    width: calc(100% - 260px);
}
.not1{
    flex:0 0 60%;
    margin-left: 30px;
}
.card{
    display: flex;
    width: 750px;
    margin-left: 100px;
}
.tecno{
    flex: 0 0 40%;
    margin-left: 15px;
   margin-top: 300px;
}
.card1{
    display: contents;
    width: 500px;
    margin-left: 30px;
    padding-bottom: 150px;
}
.img1{
    height: 250px;
    width: 450px;
   
}
